body {
    background-color: #F44336;
    font-family: sans-serif;
}

#container {
    width: 80%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 5px solid black;
    padding: 2em;
    background-color: white;
    box-shadow: 10px 10px 0px black;
}

#solutionBox {
    height: 50%;
    overflow-y: scroll;
}

.preform {
    font-family: monospace;
    color: red;
}

.help {
    margin: 10px;
    font-size: 1rem;
}

.item {
    margin: 5px;
    font-size: 1.5rem;
}

input[name="ops"] {
    width: 100%;
    margin: 5px 0 5px 0;
}

.item {}

input[type="text"] {
    width: 100%;
    margin: 5px 0 5px 0;
}

input[type="submit"] {
    margin: auto;
}

div#form {
    width: 100%;
}

.title {
    font-size: 2rem;
    margin: 1rem;
}